# npm debugging logs
*.log*

# project dependencies
node_modules

# OSX folder attributes
.DS_Store

# temporary files
*.tmp
*~

= Learning JavaScript, 3rd Edition
== Chapter 2: javaScript Development Tools

In this chapter we're learning about Git and other development tools
